<!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!--Hojas de estilo personalizadas-->
        <link rel="stylesheet" type="text/css" href="static/css/normalize.css" th:href="@{/css/normalize.css}" >
        <link rel="stylesheet" type="text/css" href="static/css/style.css" th:href="@{/css/style.css}">

        <!--Fuentes-->
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:wght@400;700&display=swap" rel="stylesheet"> 

        <!--Titulo de la página-->
        <link rel="shortcut icon" href="img/iconos/pokemon16.png"> 
        <title>AdoptPokemon</title>
    </head>
    <body>

		
		<!--  COMIENZA CODIGO -->
		<!-- Optional JavaScript -->
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    	</script>
			
    	<script>
    	$(document).ready(function(){
       		
    		$.ajaxSetup({contentType: "application/json; charset=utf-8"});

       		var lista;
       		
       		var URL = "http://localhost:8080/adopciones";
       		
       		console.log("Ready");
	       	
       		$.get(URL,cargaGrupo);
       		
	       	function cargaGrupo(Grupos){
	          			
		          		// Recorre los objetos
		          		var i;
		                
		          		var lista = Grupos[0].pokemons;
		          		
		          		for (i=0;i<lista.length;i++) {
		    	     		var element = lista[i].information;
		            		var pokemon = lista[i];
		    	     		
		             		console.log(element);
		             		
		             		//Se asigna el indice al id del elemento
		          	 		
		             	  $("#contenido").append($("<div class=\"card estilo-carta\" id=\""+i+"\">"));
		             		$("#"+i).append($("<img src=\""+element.image+"\" class=\"card-img-top\" alt=\"...\">"
		         			
		          	 		+"<div class=\"card-body\">"
		             			+"<h5 class=\"card-title\">Nombre: "+element.name+"</h5>"
		             			+"<p class=\"card-text\">Descripción: "+element.description+"</p>"
		             		+"</div>"
		             		
			                +"<ul class=\"list-group list-group-flush\">"
			                  +"<li class=\"list-group-item\">Tipo: principal-"+element.first+", secundario-"+element.second+"</li>"
			                  +"<li class=\"list-group-item\">Sexo: "+element.gender+"</li>"
			                  +"<li class=\"list-group-item\">Estatus: "+pokemon.status+"</li>"
			                +"</ul>"
		             		
			                +"<div class=\"card-body\">"
			                  +"<a href=\"#\" class=\"card-link\">Adoptar</a>"
			                  +"<a href=\"#\" class=\"card-link\">Ver más</a>"
			                +"</div>" 
			                
		             	   +"</div>")); 
		          		} 
		     }
    	});
    	</script>
    	

      <div class="sticky-top site-header">
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark pt-4 px-4 pb-1">
              <p>Contenido de la Página</p>
              <ul class="menu-header">
                 <!--  <li><img src="img/iconos/pokemon16.png" alt=""> <a href="/">Inicio</a></li>-->
                <li><img src="img/iconos/pokemon16.png" alt=""> <a href="#">Adopción</a></li>
                <li><img src="img/iconos/pokemon16.png" alt=""> <a href="reclutamiento">Reclutamiento</a></li>
                <li><img src="img/iconos/pokemon16.png" alt=""> <a href="registro">Regístrate</a></li>
              </ul>
            </div>
          </div>
          <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <h2 class="titulo-principal">AdoptPokemon</h2>
            <img src="img/iconos/pokemon32.png" alt="">
            
          </nav>
        </div>

        <div class="container contenedor-principal my-5" id="contenido">

				<!-- LISTA POKEMONES -->
            
        </div>

        <footer class="site-footer seccion">
          <div class="container contenedor-footer">
              <nav class="navegacion-footer">
                  <a href="/">Inicio</a>
                  <a href="#">Adopción</a>
                  <a href="reclutamiento">Reclutamiento</a>
               
                  <a href="registro.html">Regístrate</a>
              </nav>

              <p class="copyright">Todos los Derechos Reservados EquipoRocket 2020 &copy;</p>
          </div>
        </footer>
        
        <!-- Popper.js, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        
    </body>
</html>