<!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!--Hojas de estilo personalizadas-->
        <link rel="stylesheet" type="text/css" href="static/css/normalize.css" th:href="@{/css/normalize.css}" >
        <link rel="stylesheet" type="text/css" href="static/css/style.css" th:href="@{/css/style.css}">
        
        <!--Fuentes-->
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:wght@400;700&display=swap" rel="stylesheet"> 

        <!--Titulo de la página-->
        <link rel="shortcut icon" href="img/iconos/pokemon16.png"> 
        <title>OnlineBookStore</title>
    </head>
    <body>

		
		<!--  COMIENZA CODIGO -->
		<!-- Optional JavaScript -->
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    	</script>
			
    	<script>
    	
    	var idUsuario="";
    	var busqueda="";
    	
    	var iva=0.16;
    	<!--  Contador de objetos en el carrito -->
    	var contador=0;
    	<!--  SubTotal y Total de la compra -->
    	var subtotal=0;
    	var total=0.0;
    	
    	<!--  Listas Auxiliares -->
    	var listaDeLibros;<!-- Para Busquedas -->
    	var listaDeCarrito = [];<!--  Para el carrito de compras -->
    	
     	function guarda(type) {
     		  
     		  if (type == "I") {
     			  	idlibro = document.getElementById("idUsuario").value;
     		    	console.log(this.idUsuario);
     		  }
     		 if (type == "B") {
  			  	idlibro = document.getElementById("search").value;
  		    	console.log(this.busqueda);
  		  	 }
     	}
    	
    	$(document).ready(function(){
       		
    		$.ajaxSetup({contentType: "application/json; charset=utf-8"});
	       	
       		console.log("Ready");
       		
       		datosDeCargaLibros();
       		
    		$("button").click(function(){
    			  //Obtenemos el id de la Funcion
    	          var ID= $(this).attr("id");
    	 		  
    			  //Se actuara de acuerdo al id del boton
    			  switch (ID) {
    						case '4':
    							console.log("Ver Carrito");
    							verCarrito();
    							break;
    						case '7':
    							console.log("Busqueda");
    							search();
    							break;
    			  }
    	  		});
       		
    	});
    	
    	function datosDeCargaLibros(){
       		var URL = "http://localhost:8080/libros";
	       	
       		$.get(URL,cargaLibros);
    	}
    	
    	function botonesAccion(){
	   		//Al hacer click en algun boton se detonara esta funcion
			$("a").click(function(){
			  //Obtenemos el id de la Funcion
	          var Button= $(this).attr("name");
	          var IdLibro= $(this).attr("id");
	 		  
			  //Se actuara de acuerdo al id del boton
			  switch (Button) {
						case '1':
							console.log("Agregar al carrito");
							contador++;
							$("#contador").empty();
							$("#contador").append($("<i>"+contador+"</i>"));
							agregarCarrito(IdLibro);
							break;
						case '2':
							console.log("Comprar un libro");
							agregarCarrito(IdLibro);
							verCarrito();
							break;
						case '3':
							console.log("Eliminar del carrito");
							contador--;
							$("#contador").empty();
							$("#contador").append($("<i>"+contador+"</i>"));
							eliminarCarrito(IdLibro);
							break;
						case '5':
							console.log("Ir a Catalogo");
							datosDeCargaLibros();
							break;
						case '6':
							console.log("Realizar Compra");
							RealizarCompra();
							break;
			  }
    		});
    	}
    	
    	function search(){
    		cargaUnLibro(busqueda);
    	}
    	
       	function cargaUnLibro(busqueda){
       		$("#contenido").empty();
      		// Recorre los objetos
      		var i;
            
      		lista = listaDeLibros;
      		
      		for (i=0;i<lista.length;i++) {
	     		var element = lista[i];
	     		
	     		if(element.titulo == this.busqueda){
	     			console.log(element);
	         		
	           	  //Se asigna el indice al id del elemento
	           	  $("#contenido").append($("<div class=\"card estilo-carta\" id=\""+i+"\">"));
	           		$("#"+i).append($("<img src=\""+element.imagen+"\" class=\"card-img-top\" alt=\"...\">"
	       			
	        	 		+"<div class=\"card-body\">"
	        	 			+"<h5 class=\"card-title\">Precio: "+element.precio+"</h5>"
	           			+"<h5 class=\"card-title\">Titulo: "+element.titulo+"</h5>"
	           			+"<p class=\"card-text\">Autor: "+element.autor+"</p>"
	           			+"<p class=\"card-text\">Editorial: "+element.editorial+"</p>"
	           			+"<p class=\"card-text\">Editorial: "+element.cantidad+"</p>"
	           		+"</div>"
	           		
	                  +"<ul class=\"list-group list-group-flush\">"
	                    +"<li class=\"list-group-item\">Paginas: "+element.noPaginas+" Edicion: "+element.edicion+"</li>"
	                    +"<li class=\"list-group-item\">Sinopsis: "+element.descripcion+"</li>"
	                  +"</ul>"
	                  
	           	   +"</div>")); 
	     		}
      		} 
 		}
    	
    	function RealizarCompra(){
    		
    		var direccion = "/ventas/"+this.idUsuario+"";
    		
			var Venta = JSON.stringify({ 
  			  							iva: 0.16,
			  							libros: this.listaDeCarrito,
			  							subtotal: this.subtotal,
			  							total: this.total							
										});

			//Imprimimos en consola el json generado
			console.log(Venta);
			
			$.ajax({url: direccion, 
	    		method: 'POST',
	    		data: Venta,
	    		success: function(XMLHttpRequest, textStatus, errorThrown) {
	    			alert("Venta Realizada con exito");
	    			datosDeCargaLibros();
	    		},
	    		error: function(XMLHttpRequest, textStatus, errorThrown) {
	    		     alert("Ocurrion algun error");
	    		}
	    	});
    	}
    	
    	function agregarCarrito(idLibro){
    		
    		var i;
    		
    		for (i=0;i<listaDeLibros.length;i++) {
    			var element = listaDeLibros[i];
    			
    			if(element.idLibro == idLibro){
    				listaDeCarrito.push(element);
    				subtotal += element.precio;
    				total = total + (element.precio + (element.total*iva));
    			}
    		}
    	}
    	
    	function eliminarCarrito(IdLibro){
    		
    		var i;
    		
    		for (i=0;i<listaDeLibros.length;i++) {
    			var element = listaDeLibros[i];
    			
    			if(element.idLibro == IdLibro){
    				subtotal -= element.precio;
    				total = total-(element.precio + (element.total*iva));
    				listaDeCarrito.splice(i,1);
    			}
    		}
    		
    		verCarrito();
    	}
    	
    	function verCarrito(){
    		cargaCarrito(listaDeCarrito);
    	}
    	
    	<!-- Imprime los libros -->
       	function cargaLibros(Libros){
       		
       		$("#contenido").empty();
       		
      		// Recorre los objetos
      		var i;
            
      		var lista = Libros;
      		<!-- Lo guardamos en la lista auxiliar -->
      		listaDeLibros = Libros;
      		
      		for (i=0;i<lista.length;i++) {
	     		var element = lista[i];
	     		
         		console.log(element);
         		
         		//Se asigna el indice al id del elemento
      	 		
         	  $("#contenido").append($("<div class=\"card estilo-carta\" id=\""+i+"\">"));
         		$("#"+i).append($("<img src=\""+element.imagen+"\" class=\"card-img-top\" alt=\"...\">"
     			
      	 		+"<div class=\"card-body\">"
      	 			+"<h5 class=\"card-title\">Precio: "+element.precio+"</h5>"
         			+"<h5 class=\"card-title\">Titulo: "+element.titulo+"</h5>"
         			+"<p class=\"card-text\">Autor: "+element.autor+"</p>"
         			+"<p class=\"card-text\">Editorial: "+element.editorial+"</p>"
         		+"</div>"
         		
                +"<ul class=\"list-group list-group-flush\">"
                  +"<li class=\"list-group-item\">Paginas: "+element.noPaginas+" Edicion: "+element.edicion+"</li>"
                  +"<li class=\"list-group-item\">Sinopsis: "+element.descripcion+"</li>"
                +"</ul>"
         		
                +"<div class=\"card-body\">"
                  +"<a href=\"#\" id=\""+element.idLibro+"\" class=\"boton boton-rojo\" name=\"1\">Agregar al carrito</a>"<!--AGREGAR REFERENCIA A CARRITO-->
                  +"<a href=\"#\" id=\""+element.idLibro+"\" class=\"boton boton-verde\" name=\"2\">Comprar</a>"<!--AGREGAR REFERENCIA A VENTA-->
                +"</div>"
                
         	   +"</div>"));
      		}
       		botonesAccion();
 		}
       	
       	<!-- Imprime los libros que hay en el carrito -->
      	function cargaCarrito(Libros){
       		
       		$("#contenido").empty();
       		
      		// Recorre los objetos
      		var i;
            
      		var lista = Libros;
       	    $("#contenido").append($("<a class=\"boton boton-azul\" name=\"5\" align=\"center\">volver a catalogo</a>"));
      		$("#contenido").append($("<div class=\"container mt-4\">"
      								+"<h3>Carrito</h3><br>"
      									+"<div class=\"row\">"
      										+"<div style=\"col-sm-8\">"
      											+"<table class=\"table table-hover\">"
      												+"<thead>"
      													+"<tr>"
      														+"<th>ITEM</th>"
      														+"<th>TITULO</th>"
      														+"<th>PRECIO</th>"
      														+"<th>CANTIDAD</th>"
      														+"<th>ACCION</th>"
      													+"</tr>"
      												+"</thead>"
      												+"<tbody id=\"elementos\">"));
      									      		for (i=0;i<lista.length;i++) {
      										     		var element = lista[i];
      									         		console.log(element);
      									      		
      								$("#elementos").append($("<tr>"
  															+"<td><img src=\""+element.imagen+"\" class=\"card-img-top\" alt=\"...\" width=\"100px\" height=\"200px\"></td>"
  															+"<td align=\"center\">"+element.titulo+"</td>"
  															+"<td align=\"center\">"+element.precio+"</td>"
  															+"<td align=\"center\">1</td>"
  															+"<td align=\"center\"><a class=\"boton boton-verde\" name=\"3\">eliminar</a></td>"
  														+"</tr>"));
      									      		}
      					$("#contenido").append($("</tbody>"
      											+"</table>"
      										+"</div>"
      										+"<div class=\"col-sm-4\">"
      											+"<div class=\"card\">"
      												+"<div class=\"card-header\">"
      													+"<h3>Generar Compra</h3>"
      												+"</div>"
      												+"<div class=\"card-body\">"
      													+"<label>Subtotal:</label>"
      													+"<p id=\"subtotal\">"+subtotal+"</p>"
      													+"<label>Total:</label>"
      													+"<p id=\"total\">"+total+"</p>"
      												+"</div>"
      												+"<div class=\"card-body\">"
      												+"<label>ID de Usuario:</label>"
  													+"<input type=\"number\" id=\"idUsuario\"  onkeyup=\"guarda('I')\" required>"
  													+"<label>No.Tarjeta:</label>"
  													+"<input type=\"text\">"
  													+"<label>Caducidad:</label>"
  													+"<input type=\"date\">"
  													+"<label>Cdd. Seguridad:</label>"
  													+"<input type=\"password\" placeholder=\"\" required>"
  												+"</div>"
      												+"<div class=\"card-footer\">"
      							                  		+"<a href=\"#\" class=\"boton boton-rojo\" name=\"6\">Realizar Pago</a>"
      												+"</div>"
      											+"</div>"
      										+"</div>"
      									+"</div>"
      								+"</div>"));
       		botonesAccion();
 		}
       	
    	</script>
    	

      <div class="sticky-top site-header">
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark pt-4 px-4 pb-1">
              <p>Contenido de la Página</p>
              <ul class="menu-header">
                 <!--  <li><img src="img/iconos/pokemon16.png" alt=""> <a href="/">Inicio</a></li>-->
                <li><img src="img/iconos/pokemon16.png" alt=""> <a href="#">Catalogo</a></li>
                <li><img src="img/iconos/pokemon16.png" alt=""> <a href="reclutamiento">Inicio Sesion</a></li>
                <li><img src="img/iconos/pokemon16.png" alt=""> <a href="registro">Regístrate</a></li>
              </ul>
            </div>
          </div>
          <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
           	<div class="nav-item">
        		<button class="boton boton-gris" style="color: gray" id="4">
        			<img src="img/iconos/carrito.png" alt="" width="24px" height="24px" align="left">
        				<i id="contador" style="color: orange"></i> <!-- CONTADOR DE CARRITO OBJETOS EN EL CARRITO -->
        		</button>
      		</div>
			<h2 class="titulo-principal">Changarro!</h2>  
				<form class="form-inline my-2 my-lg-0">
      				<input class="form-control mr-sm-2" value="Titulo" type="search" placeholder="Search" aria-label="Search" onkeyup="guarda('B')">
      				<button id="7" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
   				</form>
          </nav>
        </div>

        <div class="container contenedor-principal my-5" id="contenido">

				<!-- LISTA LIBROS -->
            
        </div>

        <footer class="site-footer seccion">
          <div class="container contenedor-footer">
              <nav class="navegacion-footer">
                  <a href="/">Inicio</a>
                  <a href="#">Catalogo</a>
                  <a href="registro">Regístrate</a>
              </nav>

              <p class="copyright">Todos los Derechos Reservados Erick y Susan 2020 &copy;</p>
          </div>
        </footer>
        
        <!-- Popper.js, then Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        
    </body>
</html>