<!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!--Hojas de estilo personalizadas-->
        <link rel="stylesheet" type="text/css" href="static/css/normalize.css" th:href="@{/css/normalize.css}" >
        <link rel="stylesheet" type="text/css" href="static/css/style.css" th:href="@{/css/style.css}">

        <!-- Script -->
		<script type="js" src="registro.js"></script>
		
        <!--Fuentes-->
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:wght@400;700&display=swap" rel="stylesheet"> 

        <!--Titulo de la página-->
        <link rel="shortcut icon" href="img/iconos/pokemon16.png"> 
        <title>Changarro!</title>
    </head>
    <body>
    
    	<!-- jQuery -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    	
    <script>
    
 	//Variables globales para guardar los valores de los inputs
 	var apellidoM = "";
	var apellidoP = "";
	var contrasenia = "";
	var correo = "";
	var direccion = "";
	var nombre = "";
	var telefono = "";
	var usuario = "Comprador";
 	
 	//Guardamos los valores de los inputs
 	function guarda(type) {
	  
	  if (type == "M") {
		  	apellidoM = document.getElementById("ApellidoM").value;
	  }
	  if (type == "P") {
		  	apellidoP = document.getElementById("ApellidoP").value;
	  }
	  if (type == "E") {
		  	contrasenia = document.getElementById("Contrasenia").value;
	  }
	  if (type == "C") {
		  	correo = document.getElementById("Correo").value;
	  }
	  if (type == "D") {
		    direccion = document.getElementById("Direccion").value;
	  }
	  if (type == "N") {
		    nombre = document.getElementById("Nombre").value;
	  }
	  if (type == "T") {
	    	telefono = document.getElementById("Telefono").value;
	  }
 	}
    

 	//Variable con la URL principal
 	var URL = "http://localhost:8080/usuarios";
 	
 	
	$(document).ready(function(){
   		
		$.ajaxSetup({contentType: "application/json; charset=utf-8"});
		
   		//Variable para poder usar la list fuera de la funcion
   		var lista;
   		
   		//Al hacer click en algun boton se detonara esta funcion
		$("button").click(function(){
		  //Obtenemos el id de la Funcion
          var ID= $(this).attr("id");
 		  
		  //Se actuara de acuerdo al id del boton
		  switch (ID) {
					case '1':
						console.log("Se invoco creaUsuario()");
						creaUsuario();
						break;
		  }
  		});
	});
		
    function creaUsuario(){
				
				var Usuario = JSON.stringify({
					  							apellidoMaterno: this.apellidoM,
					  							apellidoPaterno: this.apellidoP,
					  							contrasenia: this.contrasenia,
					  							correo: this.correo,
					  							direccion: this.direccion,
					  							nombre: this.nombre,
					  							telefono: this.telefono,
					  							tipoUsuario: this.usuario							
											});
				
				//Imprimimos en consola el json generado
				console.log(Usuario);
				
				$.ajax({url: URL, 
		    		method: 'POST',
		    		data: Usuario,
		    		success: anuncia,
		    		error: function(XMLHttpRequest, textStatus, errorThrown) {
		    		     alert("Ocurrion algun error");
		    		}
		    	});
				
    }
    
    function anuncia(){
    	alert("Registro realizado con exito");
    }
 	
    </script>
    
    
      <div class="sticky-top site-header">
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark pt-4 px-4 pb-1">
              <p>Contenido de la Página</p>
              <ul class="menu-header">
                 <!--  <li><img src="img/iconos/pokemon16.png" alt=""> <a href="/">Inicio</a></li>-->
                <li><img src="img/iconos/pokemon16.png" alt=""> <a href="catalogo">Catalogo</a></li>
                <li><img src="img/iconos/pokemon16.png" alt=""> <a href="reclutamiento">Administrar</a></li>                
                <li><img src="img/iconos/pokemon16.png" alt=""> <a href="registro">Regístrate</a></li>
              </ul>
            </div>
          </div>
          <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <h2 class="titulo-principal">Chagarro!</h2>
            <img src="img/iconos/pokemon32.png" alt="">
            
          </nav>
        </div>

        <main class="container seccion contenido-centrado">
            <h2 class="centrar-texto">Formulario de Registro</h2>

            <form class="registro">
                <fieldset>
                    <legend class="centrar-texto">Información Personal</legend>

                    <label for="Nombre">Nombre(s):</label>
                    <input type="text" id="Nombre" placeholder="Tu(s) Nombre(s)" onkeyup="guarda('N')" required>

                    <label for="ApellidoP">Apellido Paterno:</label>
                    <input type="text" id="ApellidoP" placeholder="Tu Apellido Paterno" onkeyup="guarda('P')" required>
                    
                    <label for="ApellidoM">Apellido Materno:</label>
                    <input type="text" id="ApellidoM" placeholder="Tu Apellido Materno" onkeyup="guarda('M')" required>

                    <label for="Telefono">Telefono:</label>
                    <input type="text" id="Telefono" onkeyup="guarda('T')">

                </fieldset>

                <fieldset>
                    <legend class="centrar-texto">Dirección del entrenador</legend>

                    <label for="Direccion">Direccion:</label>
                    <input type="text" id="Direccion" placeholder="Tu Direccion" onkeyup="guarda('D')" required>

                </fieldset>

                <fieldset>
                    <legend class="centrar-texto">Correo electrónico</legend>

                    <label for="Correo">E-mail:</label>
                    <input type="email" id="Correo" placeholder="Tu Correo Electrónico" onkeyup="guarda('C')" required>

                    <label for="emailConfirmado">Confirme E-mail:</label>
                    <input type="email" id="emailConfirmado" placeholder="Confimar Correo Electrónico" required>

                    <label for="Contrasenia">Contraseña:</label>
                    <input type="password" id="Contrasenia" placeholder="" onkeyup="guarda('E')" required>

                    <label for="passwordC">Confirme Contraseña:</label>
                    <input type="password" id="passwordC" placeholder="" required>
    
                
                </fieldset>

                <p class="mt-3 aviso">Al dar clic en el botón enviar aceptas los términos y condiciones de Changarro!</p>
                <p class="mt-3 aviso">Se te enviara un ID con el que podras comprar</p>

                <button id="1" class="boton boton-rojo">Enviar</button>

            </form>
        </main>

        <footer class="site-footer seccion">
          <div class="container contenedor-footer">
              <nav class="navegacion-footer">
                  <a href="/">Inicio</a>
                  <a href="catalogo">Catalogo</a>
                  <a href="reclutamiento">Administrar</a>
                  <a href="registro">Regístrate</a>
              </nav>

              <p class="copyright">Todos los Derechos Reservados Erick y Susan 2020 &copy;</p>
          </div>
        </footer>

		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>