<!doctype html>
    <html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <!--Hojas de estilo personalizadas-->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">

        <!--Fuentes-->
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:wght@400;700&display=swap" rel="stylesheet"> 

        <!--Titulo de la página-->
        <link rel="shortcut icon" href="img/iconos/pokemon16.png"> 
        <title>Changarro!</title>
    </head>
    <body>
    
	<!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script>
    
    //URL del API REST
    var URL = "http://localhost:8080/
    
    //Variable que determina el limite inferior de mas vendidos
    var masVendidos = 5;
    
 	//Variables globales para guardar los valores de los inputs
 	var objeto= "";
 	var fechaInferior = "";
 	var fechaSuperior = "";
 	
 	//Guardamos los valores de los inputs
 	function guarda(type) {
	  
	  if (type == "O") {
		    objeto = document.getElementById("objeto").value;
	    	console.log(this.objeto);
	  }
	  if (type == "FI") {
		    fechaInferior = document.getElementById("fechaInferior").value;
		    console.log(this.fechaInferior);
	  }
	  if (type == "FS") {
		    fechaSuperior = document.getElementById("fechaSuperior").value;
		    console.log(this.fechaSuperior);
	  }
	}
 	
	$(document).ready(function(){
   		
		$.ajaxSetup({contentType: "application/json; charset=utf-8"});
		
   		//Variable para poder usar la list fuera de la funcion
   		var lista;
   		
   		//Al hacer click en algun boton se detonara esta funcion
		$("button").click(function(){
		  //Obtenemos el id de la Funcion
          var ID= $(this).attr("id");
 		  
		  //Se actuara de acuerdo al id del boton
		  switch (ID) {
					case '1':
						console.log("Se invoco generaReporte()");
						generaReporte(objeto);
						break;
		  }
  		});
	});
   		
   		function generaReporte(type){
  		  	switch (type) {
				case "Libros":
					console.log("Generar reporte de libros");
					regresaLibros;
					break;
				case "Ventas":
					console.log("Generar reporte de ventas");
					regresaVentas();
					break;
				case "Clientes":
					console.log("Generar reporte de clientes");
					regresaClientes();
					break;
				default:
					console.log("No se escogio objeto");
					break;
			}
   		}
   		
   		function regresaLibros(){
   			
   			var urlLibros = URL+"libros";
   			
   			$("#contenido").empty();
   			
			$.ajax({url: urlLibros, 
		    		method: 'GET',
		    		success: cargaLibros,
		    		error: function(XMLHttpRequest, textStatus, errorThrown) {
	    		     alert("Ocurrion algun error");
	    		    }
		    });
   		}
   		
       	<!-- Imprime las ventas dentro del lapso solicitado -->
      	function cargaLibros(Libros){
       		
       		$("#contenido").empty();
       		
      		// Recorre los objetos
      		var i;
            
      		var lista = Libros;
      		$("#contenido").append($("<div class=\"container mt-4\">"
      								+"<h3>Reporte de clientes y sus compras en el lapso dado</h3><br>"
      									+"<div class=\"row\">"
      										+"<div style=\"col-sm-8\">"
      											+"<table class=\"table table-hover\">"
      												+"<thead>"
      													+"<tr>"
      														+"<th>ID</th>"
      														+"<th>Imagen</th>"
      														+"<th>Titulo</th>"
      														+"<th>No. Ventas</th>"
      													+"</tr>"
      												+"</thead>"
      												+"<tbody id=\"elementos\">"));
      									      		for (i=0;i<lista.length;i++) {
      										     		var element = lista[i];
      									         		console.log(element);
      									         		
      									         		//Agregar logica para fechas de las venta
      									         		
      								$("#elementos").append($("<tr>"
      														+"<td align=\"center\">"+element.idLibro+"</td>"
  															+"<td align=\"center\">"+"<img src=\""+element.imagen+"\" class=\"card-img-top\" alt=\"...\">"+"</td>"
  															+"<td align=\"center\">"+element.titulo+"</td>"
  															+"<td align=\"center\">"+element.ventas.lenght+"</td>"
  														+"</tr>"));
      									      		}
      					$("#contenido").append($("</tbody>"
      											+"</table>"
      										+"</div>"
      									+"</div>"
      								+"</div>"));
 		}
   		
   		function regresaVentas(){
   			
   			var urlVentas = URL+"search/ventas/"+fechaInferior+"/"+fechaSuperior+"";
   			
   			$("#contenido").empty();
   			
			$.ajax({url: urlVentas, 
		    		method: 'GET',
		    		success: cargaVentas,
		    		error: function(XMLHttpRequest, textStatus, errorThrown) {
	    		     alert("Ocurrion algun error");
	    		    }
		    });
   		}
   		
       	<!-- Imprime las ventas dentro del lapso solicitado -->
      	function cargaVentas(ventas){
       		
       		$("#contenido").empty();
       		
      		// Recorre los objetos
      		var i;
            
      		var lista = ventas;
      		$("#contenido").append($("<div class=\"container mt-4\">"
      								+"<h3>Reporte de clientes y sus compras en el lapso dado</h3><br>"
      									+"<div class=\"row\">"
      										+"<div style=\"col-sm-8\">"
      											+"<table class=\"table table-hover\">"
      												+"<thead>"
      													+"<tr>"
      														+"<th>ID</th>"
      														+"<th>Cliente</th>"
      														+"<th>Fecha</th>"
      														+"<th>Cantidad</th>"
      														+"<th>Total</th>"
      													+"</tr>"
      												+"</thead>"
      												+"<tbody id=\"elementos\">"));
      									      		for (i=0;i<lista.length;i++) {
      										     		var element = lista[i];
      									         		console.log(element);
      									         		
      									         		//Agregar logica para fechas de las venta
      									         		
      								$("#elementos").append($("<tr>"
  															+"<td align=\"center\">"+element.idVenta+"</td>"
  															+"<td align=\"center\">"+element.cliente.idusuario+"</td>"
  															+"<td align=\"center\">"+element.fecha+"</td>"
  															+"<td align=\"center\">"+element.libros.lenght+"</td>"
  															+"<td align=\"center\">"+element.total+"</td>"
  														+"</tr>"));
      									      		}
      					$("#contenido").append($("</tbody>"
      											+"</table>"
      										+"</div>"
      									+"</div>"
      								+"</div>"));
 		}
   		
   		function regresaClientes(){
   			
   			var urlClientes = URL+"clientes";
   			
   			$("#contenido").empty();
   			
			$.ajax({url: urlClientes, 
		    		method: 'GET',
		    		success: cargaClientes,
		    		error: function(XMLHttpRequest, textStatus, errorThrown) {
	    		     alert("Ocurrion algun error");
	    		    }
		    });
   		}
   		
       	<!-- Imprime los Clientes -->
      	function cargaClientes(clientes){
       		
       		$("#contenido").empty();
       		
      		// Recorre los objetos
      		var i;
            
      		var lista = clientes;
      		$("#contenido").append($("<div class=\"container mt-4\">"
      								+"<h3>Reporte de clientes y sus compras en el lapso dado</h3><br>"
      									+"<div class=\"row\">"
      										+"<div style=\"col-sm-8\">"
      											+"<table class=\"table table-hover\">"
      												+"<thead>"
      													+"<tr>"
      														+"<th>ID</th>"
      														+"<th>NOMBRE</th>"
      														+"<th>APELLIDOS</th>"
      														+"<th>Correo</th>"
      														+"<th>No. Compras</th>"
      													+"</tr>"
      												+"</thead>"
      												+"<tbody id=\"elementos\">"));
      									      		for (i=0;i<lista.length;i++) {
      										     		var element = lista[i];
      									         		console.log(element);
      									      			
      									         		console.log(element.compras[0].fecha);
      									         		
      									         		//Agregar logica para fechas de las venta
      									         		
      								$("#elementos").append($("<tr>"
  															+"<td align=\"center\">"+element.idUsuario+"</td>"
  															+"<td align=\"center\">"+element.nombre+"</td>"
  															+"<td align=\"center\">"+element.apellidoPaterno+" "+element.apellidoMaterno+"</td>"
  															+"<td align=\"center\">"+element.correo+"</td>"
  															+"<td align=\"center\">"+element.compras.length+"</td>"
  														+"</tr>"));
      									      		}
      					$("#contenido").append($("</tbody>"
      											+"</table>"
      										+"</div>"
      									+"</div>"
      								+"</div>"));
 		}
   		
    </script>
	
      <div class="sticky-top site-header">
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark pt-4 px-4 pb-1">
              <p>Contenido de la Página</p>
              <ul class="menu-header">
                <li><img src="img/iconos/pokemon16.png" alt=""> <a href="index">Inicio</a></li>
                <li><img src="img/iconos/pokemon16.png" alt=""> <a href="catalogo">Catalogo</a></li>
                <li><img src="img/iconos/pokemon16.png" alt=""> <a href="reclutamiento">Reclutamiento</a></li>
                <li><img src="img/iconos/pokemon16.png" alt=""> <a href="registro">Regístrate</a></li>
              </ul>
            </div>
          </div>
          <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <h2 class="titulo-principal">Changarro!</h2>
            <img src="img/iconos/pokemon32.png" alt="">
            
          </nav>
        </div>

        <main class="container seccion contenido-centrado">
            <h2 class="centrar-texto">Ventana del administrador</h2>

            <h3 class="centrar-texto">Libros</h3>

                   <label for="objeto">De que generará el reporte?:</label>
                   <select id="objeto" onchange="guarda('O')">
                        <option value="" disabled selected>--Seleccione--</option>
                        <option value="Libros" >Libros</option>
                        <option value="Ventas">Ventas</option>
                        <option value="Clientes">Clientes</option>
                    </select>
                    
                    <label for="fechaInferior">Limite Inferior:</label>
                    <input type="date" id="fechaInferior" onchange="guarda('FI')">

                    <label for="fechaSuperior">Limite Superior:</label>
                    <input type="date" id="fechaSuperior" onchange="guarda('FS')">

                <button id="1" class="boton boton-rojo">Generar</button>
                                <br><br>
                <a class="boton boton-gris" href="administradorMain">Volver</a>
        
        <div class="container contenedor-principal my-5" id="contenido">
			<h2 class="centrar-texto">Vista Predeterminada</h2>
				
				<!-- LISTA DE OBJETOS SOLICITADOS -->
            
        </div>
        
        </main>

        <footer class="site-footer  seccion">
          <div class="container contenedor-footer">
              <nav class="navegacion-footer">
                  <a href="index">Inicio</a>
                  <a href="catalogo">Catalogo</a>
                  <a href="registro">Regístrate</a>
              </nav>

              <p class="copyright">Todos los Derechos Reservados Erick y Susan 2020 &copy;</p>
          </div>
        </footer>
        
        <!-- Popper.js,  Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        
    </body>
</html>